// locally hosted fonts
/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/open-sans-v36-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../assets/fonts/open-sans-v36-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* merriweather-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/merriweather-sans-v26-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../assets/fonts/merriweather-sans-v26-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

//BOOTSTRAP
// enable css grid
    $enable-cssgrid: true;
    
// override default colors
    $primary: #0C1B31;
    $secondary: #1F331F;

// override default fonts
    $font-family-base: "Merriweather Sans";

// add custom colors to map
    @import "../../node_modules/bootstrap/scss/functions";
    @import "../../node_modules/bootstrap/scss/variables";
    @import "../../node_modules/bootstrap/scss/variables-dark";


$custom-theme-colors: (
    "tertiary-blue": #BFCDE0,
    "highlight": #A24936,
    "off-white": #FEFCFD,
);
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

// Custom CSS
body {
    background-color: $primary;
}

.primary-background {
    background: $primary;
}

#hero{
    background-image: url('/src/assets/images/ishfaq-ahmed-motherboard-unsplash-cropped.jpg');
    background-size: cover;
    background-position: center;
    height: 90svh;
    
    .d-flex::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 90svh;
        width: 100%;
        background-color: $primary;
        opacity: 0.6;
        z-index: 1;

        @supports (mix-blend-mode: hard-light) {
            opacity: .8;
            mix-blend-mode: hard-light;
        }
    }

    .d-flex > * {
        position: relative;
        z-index: 100;
    }
}